body {
  font-family: "Helvetica", "Arial", sans-serif;
}

.main {
  padding-bottom: 10px;
}

.user-menu__list {
  display: table;
  list-style: none;
  height: 30px;
  background-color: #3e3e3e;
  width: 996px;
  margin-top: 30px;
}

.user-menu__item {
  display: table-cell;
  position: relative;
}

.user-menu__item a {
  margin-left: 10px;
}

.user-menu__item:hover {
  background-color: #000000;
}

.user-menu__item--active {
  background-color: #000;
}

.user-menu__item--userinfo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 16px;
  left: 29px;
  background-image: url("../img/user-full.png");
  background-repeat: no-repeat;
}

.user-menu__item--orders a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 16px;
  left: 29px;
  background-image: url("../img/icon-write.png");
  background-repeat: no-repeat;
}

.user-menu__item--orders-active a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 16px;
  left: 29px;
  background-image: url("../img/icon-write-blue.png");
  background-repeat: no-repeat;
}

.user-menu__item--announce a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 16px;
  left: 29px;
  background-image: url("../img/icon-burger.png");
  background-repeat: no-repeat;
}

.user-menu__item--reviews a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 16px;
  left: 29px;
  background-image: url("../img/icon-review.png");
  background-repeat: no-repeat;
}

.user-menu__item--info a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 16px;
  left: 29px;
  background-image: url("../img/icon-info.png");
  background-repeat: no-repeat;
}

.user-menu__item--favourites a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 16px;
  left: 23px;
  background-image: url("../img/icon-star-blue.png");
  background-repeat: no-repeat;
}

.user-menu__item--exit a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 16px;
  left: 25px;
  background-image: url("../img/icon-exit.png");
  background-repeat: no-repeat;
}

.user-menu__item--exit {
  padding-right: 20px;
  width: 30px;
  height: 30px;
}

.user-menu__list a {
  display: inline-block;
  color: #b9c6c8;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 40px;
}

.user-menu__item--active a {
  color: #1e8aab;
}

.user-menu__person-block {
  width: 996px;
  height: 70px;
  box-sizing: border-box;
  background-color: #1e8aab;
  padding-left: 40px;
  position: relative;
}

.user-menu__avatar {
  float: left;
}

.user-menu__avatar img {
  border-radius: 50%;
}

.user-menu__caption {
  display: inline-block;
  padding-top: 15px;
  margin-left: 10px;
  color: #b9c6c8;
  font-size: 13px;
}

.user-menu__name {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-family: "HelveticaNeue", "Arial", sans-serif;
}

.user-menu__person-info {
  float: left;
  width: 200px;
  margin-top: 5px;
}

.user-menu__my-orders,
.user-menu__my-messages {
  color: #b9c6c8;
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 14px;
}

.user-menu__my-orders--active,
.user-menu__my-messages--active {
  color: #fff;
}

.user-menu__cross {
  float: right;
  cursor: pointer;
}

.user-menu__cross::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 21px;
  right: 30px;
  background-image: url("../img/icon-cross-white.png");
  background-repeat: no-repeat;
}

/* ================================== */

.orders-field {
  min-width: 996px;
  min-height: 600px;
  background-color: #f1f6f7;
  text-align: center;
  margin-bottom: 40px;
}

.orders-field__heading {
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: 22px;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
}

.orders-field__table {
  display: flex;
  background-color: #fff;
  margin-left: 30px;
  box-shadow: 0 0 2px 0 #c8d4d6;
  max-width: 920px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.orders-field__col {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d6e3e5;
}

.orders-field__cell {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
}

.orders-field__cell--head {
  color: #b9c6c8;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 12px;
}

.orders-field__cell--active {
  background-color: #e8f3f6;
}

.orders-field__col--1 {
  flex-basis: 80px;
}

.orders-field__col--2 {
  flex-basis: 87px;
}

.orders-field__col--3 {
  flex-basis: 132px;
}

.orders-field__col--4 {
  flex-basis: 80px;
}

.orders-field__col--5 {
  flex-basis: 90px;
}

.orders-field__col--6 {
  flex-basis: 260px;
  flex-grow: 1;
}

.orders-field__col--7 {
  flex-basis: 80px;
}

.orders-field__col--8 {
  flex-basis: 115px;
  border: none;
}


.orders-field__button-block {
  display: flex;
  margin-top: 25px;
  margin-left: 30px;
  justify-content: space-between;
  width: 922px;
}

.orders-field__button-edit {
  border: 1px solid #1e8aab;
  color: #1e8aab;
  text-transform: uppercase;
  padding: 10px;
  flex-basis: 425px;
  font-size: 14px;
}

.orders-field__button-save {
  background-color: #1e8aab;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  flex-basis: 425px;
  font-size: 14px;
}

/* ================================== */

.bottom-nav {
  width: 100%;
}

.hidden-text {
  font-size: 0 !important;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ================================== */

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Bold.eot") format("eot");
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf") format("ttf");
  src: url("../fonts/HelveticaNeueCyr-Bold.otf") format("otf");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueCyr-Medium.eot") format("eot");
  src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  src: url("../fonts/HelveticaNeueCyr-Medium.ttf") format("ttf");
  src: url("../fonts/HelveticaNeueCyr-Medium.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaBold.ttf") format("ttf");
  src: url("../fonts/Helvetica_bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaRegular.ttf") format("ttf");
  src: url("../fonts/HelveticaNeueCyr_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
